In [1]:
%load_ext sql

In [2]:
%sql ibm_db_sa://jgt32387:zL7f3VeypFfFvVFm@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/BLUDB?security=SSL

Total Number of crimes recorded in the crimes table

In [5]:
%sql select count(*) from chicago_crime_data

 * ibm_db_sa://jgt32387:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/BLUDB
Done.

[(533,)]

List community areas with per capita less that 11000

In [9]:
%sql select community_area_name, per_capita_income from census_data \
     where per_capita_income < 11000;

 * ibm_db_sa://jgt32387:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/BLUDB
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

List all case numbers with crimes involving minors

In [11]:
%sql select case_number, description from chicago_crime_data \
where description like '%MINOR%';

 * ibm_db_sa://jgt32387:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/BLUDB
Done.

[('HL266884', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('HK238408', 'ILLEGAL CONSUMPTION BY MINOR')]

List all kidnapping crimes involving a child

In [14]:
%sql select primary_type, description from chicago_crime_data \
where primary_type like '%KIDNAPPING%' AND description like '%CHILD%';

 * ibm_db_sa://jgt32387:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/BLUDB
Done.

[('KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

What type of crimes where recorded as schools

In [23]:
%sql select * from chicago_public_schools limit 1;

 * ibm_db_sa://jgt32387:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/BLUDB
Done.

[(610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99, 'Very Strong', '99', 'Strong', 74, 'Strong', 66, 'Weak', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', Decimal('2.0'), '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', Decimal('69.7'), Decimal('64.4'), Decimal('0.2'), Decimal('0.9'), 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', Decimal('1171699.458'), Decimal('1915829.428'), Decimal('41.92449696'), Decimal('-87.64452163'), 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)')]

In [28]:
chicago_public_shools.['Elementary, Middle, or High School'].str.replace(',','_')

SyntaxError: invalid syntax (181101135.py, line 1)

List the average safety score for each school type

In [39]:
%%sql 
    SELECT "Elementary, Middle, or High School" as type_of_schools, avg(safety_score) 
    as average_safety_score FROM CHICAGO_PUBLIC_SCHOOLS 
    GROUP BY "Elementary, Middle, or High School";

 * ibm_db_sa://jgt32387:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/BLUDB
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]

List 5 community areas with the highest % of households below the poverty line

In [40]:
%sql select * from census_data limit 1;

 * ibm_db_sa://jgt32387:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/BLUDB
Done.

[(1, 'Rogers Park', Decimal('7.7'), Decimal('23.6'), Decimal('8.7'), Decimal('18.2'), Decimal('27.5'), 23939, 39)]

In [48]:
%%sql 
select community_area_name, percent_households_below_poverty as highest_percent_households_below_poverty_line  
from census_data
order by percent_households_below_poverty desc limit 5;

 * ibm_db_sa://jgt32387:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/BLUDB
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

Which community area is most crime prone

In [61]:
%%sql 

SELECT community_area_name, community_area_number 
FROM CENSUS_DATA
WHERE COMMUNITY_AREA_NUMBER IN 
    (SELECT COMMUNITY_AREA_NUMBER FROM CHICAGO_CRIME_DATA
    GROUP BY COMMUNITY_AREA_NUMBER ORDER BY COUNT(*) DESC LIMIT 1)

 * ibm_db_sa://jgt32387:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/BLUDB
Done.

[('Austin', 25)]

Use a sub-query to find the name of a community area with the highest hardship index

Use a sub-query to determine the community area name with the most number of crimes

In [60]:
%%sql
SELECT community_area_name, community_area_number 
FROM CENSUS_DATA
WHERE COMMUNITY_AREA_NUMBER IN 
    (SELECT COMMUNITY_AREA_NUMBER FROM CHICAGO_CRIME_DATA
    GROUP BY COMMUNITY_AREA_NUMBER ORDER BY COUNT(*) DESC LIMIT 1)

 * ibm_db_sa://jgt32387:***@b0aebb68-94fa-46ec-a1fc-1c999edb6187.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:31249/BLUDB
Done.

[('Austin', 25)]